body {
  margin-top: 0.75in;
  background-color: rgba(196, 128, 196, 0.331);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

ul{
  list-style-type: none;
}

p {
  font-size: 18px;
}

