*,
html{
  font-family: 'Courier New', Courier, monospace;
}

button{
  background-color: rgb(236, 215, 175);
  color: rgb(61, 60, 61);
}

body {
  margin-top: 0.75in;
  background-color: rgb(61, 60, 61);
  color: rgb(236, 215, 175);
  text-align: center;
}

ul{
  list-style-type: none;
}

p {
  font-size: 18px;
}

