* {
  text-align: center;
  font-family: Courier, monospace;
}

body {
  width: 40em;
  margin: 0.75in auto;
}

body * {
  margin: 10px auto;
}

#output {
  line-break: auto;
  outline: 1px dashed;
  margin: 20px auto;
  font-weight: 600;
  font-size: 1.3rem;
}