@font-face {
  font-family: freeSerif;
  src: url(freefont-20120503/FreeSerif.woff)
}

body {
  margin: auto;
}


#board {
  border: 1px solid black;
  margin: auto;
  margin-top: 2em;
}

td {
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 0px;
  text-align: center;
  line-height: 80px;
}

tr {
  font-family: freeSerif, 'Times New Roman', Times, serif;
  font-size: 70px;
  height: 80px;
  margin: 0px;
  padding: 0px;
}